@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-light text-dark font-sans;
}

::selection {
  @apply bg-primary/20 text-primary;
}